# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [283]:
## Code goes here
import pandas as pd
recweek = pd.read_csv("recweekdata2.csv")
profiles = pd.read_csv("studentprofiles.csv")
df = pd.merge(recweek,profiles, on = "lastname")
df = df.drop(columns=['firstname_y'])

# cellphone number 
df.loc[:,"phonenumber"] = df.loc[:,"phonenumber"].replace(r'^9',r'+63 9',regex=True)

# birthyear (include as type bc it wont read as a string unlike the phonenumber which has the +)
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].astype(str).replace(r'^97',r'1997',regex=True)
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].replace(r'^98',r'1998',regex=True)
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].replace(r'^99',r'1999',regex=True)
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].replace(r'^00',r'2000',regex=True)
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].replace(r'^01',r'2001',regex=True)

# birthmonth
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(January|1|Jan)',r'January',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(February|2|Feb|Febuaryruary)',r'February',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(March|3|Mar)',r'March',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(April|4|Apr)',r'April',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(May|5|May)',r'May',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(June|6|Jun)',r'June',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(July|7|Jul)',r'July',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(August|8|Aug)',r'August',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(September|9|Sep)',r'September',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(October|10|Oct|January0)',r'October',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(November|11|JanuaryJanuary|Nov)',r'November',regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].replace(r'(December|12|JanuaryFebruary|Dec)',r'December',regex=True)

#birthday
df.loc[:,"birthday"]

#firstname
df.loc[:,"firstname_x"]

#lastname
df.loc[:,"lastname"]

# courses
df.loc[:,"course"] = df.loc[:,"course"].replace(r'(BS LM|Legal Management|LM)',r'Legal Management', regex=True)
df.loc[:,"course"] = df.loc[:,"course"].replace(r'(BS MGT|Management|MGT)',r'Management', regex=True)
df.loc[:,"course"] = df.loc[:,"course"].replace(r'(BS CTM|Communications Technology|CTM)',r'Communications Technology', regex=True)
df.loc[:,"course"] = df.loc[:,"course"].replace(r'(BS ITE|Information Technology Entrepreneurship|ITE)',r'Information Technology Entrepreneurship', regex=True)
df.loc[:,"course"] = df.loc[:,"course"].replace(r'(BS ME|Management Engineering|ME|Management Management Engineering)',r'Management Engineering', regex=True)
courses_title = df.loc[:,"course"]

# carrier
df.loc[:,"phonenumber"].str[0:7]
carrier = {"+63 917":"Globe","+63 918":"Smart", "+63 927":"Globe"}
df["carrier"] = df.loc[:,"phonenumber"].str[0:7].apply(lambda x: carrier[x])
carrier_title = df["carrier"]

df

,firstname_x,lastname,birthmonth,birthday,birthyear,course,phonenumber,gender,carrier
0,name1,lastname1,November,26,1998,Legal Management,+63 918 302 6210,Female,Smart
1,name2,lastname2,May,26,2001,Management,+63 927 212 6276,Female,Globe
2,name3,lastname3,May,16,1997,Communications Technology,+63 918 253 7017,Female,Smart
3,name4,lastname4,December,9,1997,Information Technology Entrepreneurship,+63 918 714 4360,Male,Smart
4,name5,lastname5,September,5,1997,Communications Technology,+63 927 462 1674,Female,Globe
5,name6,lastname6,March,2,1999,Management,+63 918 629 5268,Female,Smart
6,name7,lastname7,November,10,1998,Legal Management,+63 917 369 7388,Female,Globe
7,name8,lastname8,August,28,1999,Management Engineering,+63 917 240 6000,Male,Globe
8,name9,lastname9,July,10,1997,Management Engineering,+63 918 226 5748,Male,Smart
9,name10,lastname10,September,14,2001,Communications Technology,+63 918 342 1717,Female,Smart
10,name11,lastname11,December,8,1998,Legal Management,+63 927 708 1308,Male,Globe
11,name12,lastname12,May,4,1997,Management Engineering,+63 927 747 5497,Male,Globe
12,name13,lastname13,January,28,1999,Communications Technology,+63 917 959 4490,Female,Globe
13,name14,lastname14,January,11,1999,Management,+63 927 543 4192,Female,Globe
14,name15,lastname15,June,6,1998,Information Technology Entrepreneurship,+63 917 211 9497,Male,Globe
15,name16,lastname16,April,20,1999,Legal Management,+63 918 185 5162,Male,Smart
16,name17,lastname17,January,3,1997,Information Technology Entrepreneurship,+63 927 146 8146,Female,Globe
17,name18,lastname18,April,8,1997,Management,+63 927 516 4280,Female,Globe
18,name19,lastname19,December,28,1997,Information Technology Entrepreneurship,+63 927 958 6909,Male,Globe
19,name20,lastname20,March,10,1997,Management Engineering,+63 917 514 9105,Male,Globe
20,name21,lastname21,July,13,1999,Legal Management,+63 927 984 7499,Female,Globe
21,name22,lastname22,September,15,1999,Information Technology Entrepreneurship,+63 927 699 3694,Male,Globe
22,name23,lastname23,April,15,1997,Management,+63 917 317 2478,Male,Globe
23,name24,lastname24,October,1,1997,Management Engineering,+63 917 159 3829,Male,Globe
24,name25,lastname25,May,6,1997,Management Engineering,+63 918 898 6972,Male,Smart
25,name26,lastname26,December,5,1999,Management Engineering,+63 917 796 4622,Male,Globe
26,name27,lastname27,March,4,1997,Communications Technology,+63 927 138 7580,Female,Globe
27,name28,lastname28,November,10,2000,Legal Management,+63 917 195 9244,Male,Globe
28,name29,lastname29,October,10,1999,Legal Management,+63 917 643 3996,Female,Globe
29,name30,lastname30,May,28,1999,Communications Technology,+63 917 758 3119,Male,Globe
...,...,...,...,...,...,...,...,...,...
2970,name2971,lastname2971,February,25,1997,Management,+63 918 679 7197,Female,Smart
2971,name2972,lastname2972,May,14,1998,Management Engineering,+63 917 580 7169,Male,Globe
2972,name2973,lastname2973,October,9,1999,Legal Management,+63 917 796 6903,Female,Globe
2973,name2974,lastname2974,August,12,1999,Information Technology Entrepreneurship,+63 917 850 3525,Female,Globe
2974,name2975,lastname2975,November,18,1997,Legal Management,+63 927 570 1807,Female,Globe
2975,name2976,lastname2976,July,24,1998,Information Technology Entrepreneurship,+63 927 942 3786,Female,Globe
2976,name2977,lastname2977,May,26,1998,Management Engineering,+63 918 658 9148,Female,Smart
2977,name2978,lastname2978,October,26,1999,Information Technology Entrepreneurship,+63 918 153 2402,Female,Smart
2978,name2979,lastname2979,February,13,1997,Communications Technology,+63 918 360 5113,Male,Smart
2979,name2980,lastname2980,July,3,1999,Legal Management,+63 918 634 6229,Male,Smart
2980,name2981,lastname2981,February,17,1998,Information Technology Entrepreneurship,+63 927 393 1660,Female,Globe
2981,name2982,lastname2982,March,28,2000,Information Technology Entrepreneurship,+63 927 642 3573,Male,Globe
2982,name2983,lastname2983,December,3,1998,Communications Technology,+63 918 106 5583,Male,Smart
2983,name2984,lastname2984,November,13,2000,Management,+63 917 612 2550,Male,Globe
2984,name2985,lastname2985,February,23,1999,Management,+63 927 108 3318,Female,Globe
2985,name2986,lastname2986,March,2,1999,Information Technology Entrepreneurship,+63 927 622 4725,Female,Globe
2986,name2987,lastname2987,October,6,1997,Information Technology Entrepreneurship,+63 918 289 5164,Female,Smart
2987,name2988,lastname2988,February,20,1997,Management,+63 927 984 2369,Female,Globe
2988,name2989,lastname2989,January,17,1999,Management Engineering,+63 927 909 9560,Male,Globe
2989,name2990,lastname2990,July,14,1997,Management,+63 927 350 9410,Female,Globe
2990,name2991,lastname2991,July,27,2000,Information Technology Entrepreneurship,+63 918 952 6706,Female,Smart
2991,name2992,lastname2992,March,26,1999,Information Technology Entrepreneurship,+63 917 926 9403,Male,Globe
2992,name2993,lastname2993,April,1,2000,Management Engineering,+63 917 313 8195,Female,Globe
2993,name2994,lastname2994,April,10,1999,Communications Technology,+63 917 784 1180,Male,Globe
2994,name2995,lastname2995,May,21,1997,Communications Technology,+63 927 827 5389,Male,Globe
2995,name2996,lastname2996,March,28,1997,Communications Technology,+63 917 795 5051,Female,Globe
2996,name2997,lastname2997,May,19,1998,Legal Management,+63 917 445 3378,Male,Globe
2997,name2998,lastname2998,July,3,1998,Information Technology Entrepreneurship,+63 917 154 5694,Female,Globe
2998,name2999,lastname2999,December,2,1998,Management Engineering,+63 927 497 8977,Male,Globe
2999,name3000,lastname3000,July,13,1997,Legal Management,+63 918 719 7624,Male,Smart

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [284]:
# exporting file to new cleanrecweek3b csv 
export_csv = df.to_csv (r'cleanrecweekdata3B.csv', index = None, header=True)

In [285]:
# seeing the gender-carrier relationship 
data = df.groupby(["carrier","gender"])["lastname"].count()
data

carrier  gender
Globe    Female     984
         Male      1061
Smart    Female     494
         Male       461
Name: lastname, dtype: int64

In [286]:
GlobeMales = data[('Globe','Male')]
GlobeFemales = data[('Globe','Female')]
SmartMales = data[('Smart','Male')]
SmartFemales = data[('Smart','Female')]

In [287]:
#dictionary for the carrier-gender relationships

globemales = dict()
globemales = [GlobeMales]

globefemales = dict()
globefemales = [GlobeFemales]

smartmales = dict()
smartmales = [SmartMales]

smartfemales = dict()
smartfemales = [SmartFemales]

In [288]:
# to arrange months in alphabetical order: 
months = ["January","February","March","April","May","June","July","August",
                "September","October","November","December"]

In [289]:
# making panda file into dictionaries
# add .value_counts to count the values per title instead of counting everything by order 
birthyear_title = df.loc[:,"birthyear"]
birthyeardict = birthyear_title.value_counts().to_dict()

birthmonth_title = df.loc[:,"birthmonth"]
birthmonthdict = birthmonth_title.value_counts().to_dict()

birthday_title = df.loc[:,"birthday"]
birthdaydict =birthday_title.value_counts().to_dict()

firstname_title = df.loc[:,"firstname_x"]
firstnamedict = firstname_title.value_counts().to_dict()

lastname_title = df.loc[:,"lastname"]
lastnamedict = lastname_title.value_counts().to_dict()

courses_title = df.loc[:,"course"]
coursesdict = courses_title.value_counts().to_dict()

phonenumber_title = df.loc[:,"phonenumber"]
phonenumberdict = phonenumber_title.value_counts().to_dict()

carrier_title = df["carrier"]
carrierdict = carrier_title.value_counts().to_dict()

In [290]:
birthyear_html = """"""
for i in birthyeardict:
        birthyear_html = birthyear_html + "<tr>"
        # add the years column
        birthyear_html = birthyear_html + "<td>" + str([i]) + "</td>"
        # add the data for the column 
        birthyear_html = birthyear_html + "<td>" + str(birthyeardict[i]) + "</td>"
        birthyear_html = birthyear_html + "</tr>"
        """"""
        
birthmonth_html = """"""
for i in months:
        birthmonth_html = birthmonth_html + "<tr>"
        birthmonth_html = birthmonth_html + "<td>" + str([i]) + "</td>" 
        birthmonth_html = birthmonth_html + "<td>" + str(birthmonthdict[i]) + "</td>" 
        birthmonth_html = birthmonth_html + "</tr>" 
        """"""
        
birthday_html = """"""
for i in sorted(birthdaydict): 
        birthday_html = birthday_html + "<tr>"
        birthday_html = birthday_html + "<td>" + str([i]) + "</td>"
        birthday_html = birthday_html + "<td>" + str(birthdaydict[i]) + "</td>"
        birthday_html = birthday_html + "</tr>" 
        """"""
        
firstname_html = """"""
for i in firstnamedict: 
        firstname_html = firstname_html + "<tr>"
        firstname_html = firstname_html + "<td>" + str([i]) + "</td>"
        firstname_html = firstname_html + "<td>" + str(firstnamedict[i]) + "</td>"
        firstname_html = firstname_html + "</tr>" 
        """"""
        
lastname_html = """"""
for i in lastnamedict: 
        lastname_html = lastname_html + "<tr>"
        lastname_html = lastname_html + "<td>" + str([i]) + "</td>"
        lastname_html = lastname_html + "<td>" + str(lastnamedict[i]) + "</td>"
        lastname_html = lastname_html + "</tr>"
        """"""
        
courses_html = """"""
for i in sorted(coursesdict):
    courses_html = courses_html + "<tr>"
    courses_html = courses_html + "<td>" + str([i]) + "</td>"
    courses_html = courses_html + "<td>" + str(coursesdict[i]) + "</td>"
    courses_html = courses_html + "<tr>"
    """"""
    
carrier_html = """"""
for i in carrierdict:
    carrier_html = carrier_html + "<tr>"
    carrier_html = carrier_html + "<td>" + str([i]) + "</td>"
    carrier_html = carrier_html + "<td>" + str(carrierdict[i]) + "</td>"
    carrier_html = carrier_html + "</tr>"
    """"""
    
globemales_html = """"""  
for i in globemales:
    globemales_html = globemales_html + """<tr><p width="30px"></p><td align="center" width="30px">"""
    globemales_html = globemales_html + "<td>" + str([i]) + "</td>"               
    globemales_html = globemales_html + "</tr>"
    """"""
    
globefemales_html = """"""  
for i in globefemales:
    globefemales_html = globefemales_html + """"<tr><p width="30px"></p><td align="center" width="30px">"""
    globefemales_html = globefemales_html + "<td>" + str([i]) + "</td>"
    globefemales_html = globefemales_html + "</tr>"
    """"""

smartmales_html = """"""  
for i in smartmales:
    smartmales_html = smartmales_html + """<tr><p width="30px"></p><td align="center" width="30px">"""
    smartmales_html = smartmales_html + "<td>" + str([i]) + "</td>"
    smartmales_html = smartmales_html + "</tr>"
    """"""

smartfemales_html = """"""  
for i in smartfemales:
    smartfemales_html = smartfemales_html + """<tr><p width="30px"></p><td align="center" width="30px">"""
    smartfemales_html = smartfemales_html + "<td>" + str([i]) + "</td>"
    smartfemales_html = smartfemales_html + "</tr>"
    """"""

In [300]:
stats3b_html = """

<html>
<style>
table,th,td 
{{border:1px solid black;
border-collapse:collapse;}} 
th {{color:red;}}
td {{text-align:center;}}
</style>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td><b>People born in each month</b></td><td>{birthmonth_html}</td></tr>
             <tr><td><b>People born on each day</b></td><td>{birthday_html}</td></tr>
             <tr><td><b>People born in each year</b></td><td>{birthyear_html}</td></tr>
             <tr><td><b>People coming from each course</b></td><td>{courses_html}</td></tr>
             <tr><td><b>People having numbers from Globe and Smart</b></td><td>{carrier_html}</td></tr>
             <tr><td><b>Male Globe Subscribers: </b></td><td>{globemales_html}</td></tr>
             <tr><td><b>Female Globe Subscribers: </b></td><td>{globefemales_html}</td></tr>
             <tr><td><b>Male Smart subscribers: </b></td><td>{smartmales_html}</td></tr>
             <tr><td><b>Female Smart Subscribers: </b></td><td>{smartfemales_html}</td></tr>
             
         </table>
    </body>
</html>
"""

# adding the = will let python know what you are referencing, otherwise it will just be an erro
main_html = stats3b_html.format(birthmonth_html=birthmonth_html,birthday_html=birthday_html,
                                birthyear_html=birthyear_html,courses_html=courses_html,
                                carrier_html=carrier_html,globemales_html=globemales_html,
                                globefemales_html=globefemales_html,smartmales_html=smartmales_html,
                                smartfemales_html=smartfemales_html)

with open("stats3b.html","w+") as file:
    file.write(main_html)